

.sliderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    font-weight: 10;
    overflow: hidden; /* Nasconde l'overflow */
    width: 80%; /* Imposta la larghezza del wrapper */
    height: 200px; /* Imposta un'altezza fissa per il contenitore */
}

.slider {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    animation: slide 5s infinite;
    overflow: hidden; /* Nasconde l'overflow */
}



.slider div {
    color: black;
}

@keyframes slid {
    0% {
        transform: translateY(-100%); /* Sposta la parola verso l'alto fuori dal contenitore */
    }
    50% {
        transform: translateY(0%); /* Posiziona la parola nel centro del contenitore */
    }
    100% {
        transform: translateY(100%); /* Sposta la parola fuori dal contenitore verso il basso */
    }
}

@keyframes slide{
    0%{
        transform: translateY(-25%);
    }
    30% {
        transform: translateY(-25%); /* Posiziona la parola nel centro del contenitore */
    }
    60%{
        transform: translateY(25%);
    }
    80%{
        transform: translateY(25%);
    }
    100%{
        transform: translateY(-25%);
    }
}

.navbar{
    border-bottom: 1px solid black;
}

.nav-link{
    color: black;
    font-weight: 100;
}

.nav-link:hover{
    color: black;
    font-weight: 100;
    text-decoration: underline;
}

h1{
    font-size: 150px;
    font-weight: 100;
    line-height: 120px;
    position: relative;
    top: 20px;
    padding-bottom: 50px;
}

.form-label{
    font-weight: 10;
}

#cover{
    font-weight: 10;
}

.btn{
    border: 1px solid black;
    font-size: 30px;
    font-weight: 100;
    width: 130px;
}

.card{
    margin-bottom: 20px;
}

.btn:hover{
    transition: .5s;
    transform: translateY(-10%);
    font-size: 35px;
}

.btn:not(:hover){
    transition: .5s;
}

.navbar-brand{
    font-weight: 500;
}

.cardZ{
    text-decoration: none;
}

.card-img-top{
    height:370px;
    object-fit: cover;
}

.cardZ:hover{
    text-decoration: underline;
    color: black
}

.coverShow{
    height: 500px;
    object-fit: cover;
}

h4{
    font-weight: 150;
}

p{
    font-weight: 100;
}

.paragrafo{
    padding-left: 10px;
    position: relative;
    font-size: 17px;
    bottom: 40px;
}

.dropdown-item{
    font-weight: 100;
}

.errore{
    font-weight: 10;
}

.indexTitle{
    padding-bottom: 0;
}
